// ----------------------------------------------------------------------------
// Widget-stmode styles
// ----------------------------------------------------------------------------
.widget-hascript {

  background-color: #444;

  .title {
    color: #fff;
  }

  .icon-inactive {
    color: #888888;
  }

  .icon-active {
    color: #aaff00;
  }

}
